<ul class="phase-sidebar-header-inner">
	<li
		class="phase-sidebar-tab"
		ng-repeat="tab in $ctrl.tabs() track by tab.id"
		ng-class="{ selected: tab.selected }"
	>
		<a
			class="phase-sidebar-tab-link"
			href="{{::tab.link}}"
		>
			<zs-icon
				class="phase-sidebar-tab-icon"
				icon-type="{{::tab.icon}}"
			></zs-icon>
			<div class="phase-sidebar-tab-label">{{::tab.label}}</div>
			<div
				class="phase-sidebar-tab-counter"
				ng-show="tab.count"
			>{{::tab.count}}</div>
		</a>
	</li>
</ul>
