[% RETURN IF c.user_exists -%]
        </div>
    </div>

    <div id="footer" class="noprint">

	<div class="footer_image hidden-xs"></div>			
				
		<div class="container-fluid">

			<div class="row container-fluid footerrow">
			
				<div class="col-md-12">
					<div class="contact row text-center">
					<a class="btn btn-primary" href="http://moerdijk.nl/Contact.html">Contact met de gemeente</a>
				</div>

				<div class="socialmedia row">
					<div class="panel col-xs-12 col-md-6 col-md-push-3 col-lg-6 col-lg-push-3">
						<div class="col-xs-3"><a title="Facebook opent in een nieuw venster" class="facebook newwindow" href="https://www.facebook.com/GemeenteMoerdijk"><span class="text-hide">Facebook</span></a></div>
						<div class="col-xs-3"><a title="Twitter opent in een nieuw venster" class="twitter newwindow" href="http://twitter.com/moerdijkse_stem"><span class="text-hide">Twitter</span></a></div>
						<div class="col-xs-3"><a title="Youtube opent in een nieuw venster" class="youtube newwindow" href="http://www.youtube.com/gemeentemoerdijk"><span class="text-hide">Youtube</span></a></div>
						<div class="col-xs-3"><a title="Instagram opent in een nieuw venster" class="instagram newwindow" href="https://www.instagram.com/gemeentemoerdijk/"><span class="text-hide">Instagram</span></a></div>
					</div>
				</div>

				<script type="application/ld+json">
					{
					"@context" : "http://schema.org",
					"@type" : "Organization",
					"name" : "Gemeente Moerdijk",
					"logo": "https://www.moerdijk.nl/designs/Moerdijk/logo.jpg",
					"url" : "https://www.moerdijk.nl",
					"sameAs" : [
					"https://www.facebook.com/GemeenteMoerdijk",
					"http://twitter.com/moerdijkse_stem",
					"http://www.youtube.com/gemeentemoerdijk"
					]
					}
				</script>
	
				<div class="col-sm-12 col-sm-push-0 col-md-12 col-lg-8 col-lg-push-2 footer_row">
					
					<div class="footlist_out col-sm-4  text-center">
						<a href="http://moerdijk.nl/web/Tips_of_opmerkingen_over_deze_pagina.html">Tips of opmerkingen over deze pagina?</a>
						
					</div>
				
					<div class="footlist_in col-sm-4  text-center">
						<a href="http://moerdijk.nl/web/Toegankelijkheid.html">Toegankelijkheid</a>
						
					</div>
				
					<div class="footlist_out col-sm-4  text-center">
						<a href="http://moerdijk.nl/web/Proclaimer-Cookies-en-wwwmoerdijknl.html">Cookies en www.moerdijk.nl</a>
						
					</div>
				
				</div>
					
			</div>

		</div>

	</div>

</div>

[% INCLUDE layouts/default_helper_diffs.tt %]

[% IF !c.user_exists && !pip %]
</div>
[% END %]

</body>
</html>