/* Gemeente Vianen - Styling */
html { -webkit-text-size-adjust: none; }

/* General  */
body									{ text-align:left; margin:0; }

body, table								{ font: 1em/1.5em Calibri, "Helvetica Neue", Arial, sans-serif; color: #242424; }
input, select, textarea, option			{ font: 1em Calibri, "Helvetica Neue", Arial, sans-serif; }
optgroup								{ font: bold 1em Calibri, "Helvetica Neue", Arial, sans-serif; }

html, body, #container {
height: 100%;
min-height: 100%;
background: #FFF;
}

 #wrapper {
min-height: 100%;
height: auto !important;
margin-bottom: -186px;
}

#push {
display: block;
height: 186px;
}

#footer p{line-height: 1.5 !important;}

#footer-az-index						{ margin: 0 0 6px 0; }
#footer-az-index h2						{ position: static; margin: 0 5px 0 0; display: inline; font-size: 1em; font-weight: normal; color: #545490; }
#footer-az-index ul						{ margin: 0; display: inline; padding:0;}
#footer-az-index ul li					{ list-style-type: none; padding: 0; background: none; display: inline; margin-left: 5px; }
#footer-az-index ul li a				{ padding: 0 5px; }

.center-align							{ max-width:940px; padding-left:10px; padding-right:10px; margin-left:auto; margin-right:auto; }
#sidebar-top, #sidebar-bottom			{ float:right; clear:right; width:30%; }
#start									{ clear: both; }
#content								{ float:left; width:60%; }
/*#main img								{ max-width:100%; height:auto; }*/
a img									{ border:none; }

/* don't display the direct to content/menu/search links */
#direct-links							{ display: none; }

/* Header */
#header 								{ color:#FFF; background:url('../img/inwoners-header-bg.jpg') center top #545490; position:relative; border-bottom:7px solid #545490; color:#FFF; }
#logo									{ display: inline-block; text-transform:uppercase; margin:0; color:#FFF; line-height:1em; font-size:6em; font-weight: bold; padding-top:40px; }
#logo span								{ font-size:0.2em; line-height:0; margin-bottom:0; display:block; }
#logo a,
#logo a:hover,
#logo a:focus							{ text-decoration:none; }
#logo									{ width: 307px; height:auto; max-width:100%; }
#logo img								{ vertical-align: top; max-width:100%; height:auto; }
#header-content							{ margin-left:-10px; padding-left:10px; margin-right:-10px; padding-right:10px; background:url('../img/inwoners-schuin.png') no-repeat; z-index:2; position:relative; padding-bottom: 18px !important;}



/* search form
#search									{ margin: 0 0 28px 0; }
#search label							{ display: none; }
#search #q								{ margin: 0; padding: 0 10px; height: 30px; border: none; background:url('/data/images/7/9/search-box-bg.png') no-repeat left top #FFF;  }
#search #search-submit					{ margin: 0; padding: 0 40px 2px 10px; height: 30px; border: none; background:url('/data/images/2/4/0/magnifier-blue.png') #dd9414; background-repeat:no-repeat; background-position:72px 7px; color: #212147; }
 */


/* Variable header image on the right */
#header figure							{ margin:0; position:absolute; bottom:0; right:0; height:100%; text-align:right; z-index:1; overflow:hidden; }
#header figcaption						{ position:absolute; bottom:0; right:0; text-align:left; font-size:0.9em; line-height:1.5em; font-style:italic; color: #000; }
#header figcaption.collapsed			{ width:40px; height:40px; background:url('/data/images/1/1/info.png') no-repeat; cursor:pointer; }
#header figcaption.collapsed *			{ display:none; }
#header figcaption.expanded				{ height:100%; width:320px; bottom:auto; top:0; padding:20px; background:url('/data/images/2/4/info-bg.png'); }
#header #header-photo-close				{ position: absolute; left: 5px; top: 5px; cursor: pointer; }


/* Toptasks in header
.skip									{ display: none; }
#toptaken 								{ padding-left:0; margin:0; overflow:auto; padding-bottom:20px; }
#toptaken li 							{ float:left; list-style-type:none; padding: 0; background: none; }
#toptaken li a							{ text-decoration:none; text-align:center; padding:48px 10px 0 10px; min-width:48px; background-position:center 8px; background-repeat:no-repeat; background-size:32px 32px; display:block; border-radius:8px; transition:background-color 200ms linear; }
#toptaken li a:hover, 
#toptaken li a:focus					{ background-color:#545490; outline:none; text-decoration:none; }

#breadcrumb 							{ color:#545490; margin-top: 10px; min-height: 1.5em; padding-right: 300px; }

#toptaken li#link-other-theme			{ position: absolute; right: 10px; top: 308px; float: none; overflow: visible; }
#toptaken li#link-other-theme a			{ color: #545490; text-decoration: underline; text-align: right; padding: 0; background: #FFF; display: inline; transition:color 500ms linear; }
#toptaken li#link-other-theme a:hover	{ text-decoration: none; color: #000; }
#toptaken li#link-other-theme a:focus	{ outline: 1px dotted; color: #000; }
#toptaken li#link-other-theme a:before	{ content: ">> "; }
*/

/* Toptasks between pages
.toptasks								{ margin:0; padding:0; overflow:auto; }
.toptasks li							{ float:left; list-style-type:none;  padding-left:40px; width:240px; min-height: 84px; margin-right:32px; margin-bottom:12px; background-repeat:no-repeat; background-position: left top; background-image: url("/data/images/1/0/7/vianen.png"); }
.toptasks li h2							{ margin:0; color:#545490; }
.toptasks .node4, .toptasks .node7, .toptasks .node10		{ clear:left; }
*/



#footer h3										{ margin: 12px 0 0 0; font-size: 1em; font-weight: bold;  }
p										{ margin: 0 0 12px 0; }

#footer ul										{ margin: 0 0 12px 0; padding: 0; }
#footer ul li									{ list-style-type: none; /*background: url("/data/images/6/6/bullet.png") no-repeat 5px 9px; padding: 0 0 0 20px; */}
/*#footer ul ul,*/
ol ul									{ margin-top: 5px; }
#footer ul ul li,
#footerol ul li								{ margin-bottom: 0; }
#footerol										{ margin: 0 0 10px 0; padding-left: 24px; }
#footerol li									{ margin-bottom: 5px; }
#footerp+ul,
p+ol									{ margin-top: -5px; }
#footer h3+ul,
h3+ol									{ margin-top: 5px; }
#footer a, a:visited, #pre-footer a		{ color: inherit; text-decoration: underline; }
#footer a:hover							{ text-decoration: none; }

hr										{ margin: 10px 0; height: 0; border: none; border-bottom: 1px solid #DDD; clear: both; }
hr+h2									{ margin-top: 15px; }
img										{ border: none; vertical-align: middle; }
abbr									{ border-bottom: none; cursor: help; }



/* Typography */
#main a									{ color:#545490; }
#main a:hover,
#main a:focus							{ color: #000; }
a:hover {
text-decoration: none !important;
}

::selection								{ background:#565692; color:#FFFFFF; }
::-moz-selection						{ background:#565692; color:#FFFFFF; }





/* links to an external page 
#content a.external,
#sidebar-bottom a.external				{ background: url("/data/images/6/3/external.png") no-repeat right center; padding-right: 14px; }
*/

/* Sidebar */
/*
#sidebar-top ul, #sidebar-bottom ul		{ padding-left:0; }
#sidebar-top li, #sidebar-bottom li		{ list-style-type:none; }


#sidebar-top>*:last-child				{ margin-bottom: 40px; }
#content>*:first-child,
#sidebar-bottom>*:first-child			{ margin-top: 0; }

*/


/* Buttons */
/*a.button								{ display:inline-block; padding:10px 40px 10px 20px; background-color:#0E8841; color:#FFF !important; text-decoration:none; font-size:1.2em; border-radius:4px; background-image:url('/data/images/9/6/button-arrow-right.png'); background-position:right center; background-repeat:no-repeat; transition:background-color 200ms linear !important; }
a.button:hover,
a.button:focus							{ background-color: #0C7638; }
*/



/* News
div.news 								{ padding:10px 10px 10px 0; margin-bottom:20px; position:relative; clear:both; }
div.news img							{ max-width:100px; margin-left:-110px; }
p.date									{ font-size:0.8em; color:#666; text-transform:uppercase; margin:0; }

div.news h2								{ margin-top:0; }
*/


/* Video's
p.video									{ text-align: center; }
p.video img								{ border: 1px solid #DDD; padding: 5px; }

#video-popup							{ display: none; width: 960px; height: 540px; position: absolute; left: 50%; top: 50%; margin: -270px 0 0 -480px; z-index: 3; background: #FFF; border: 1px solid #000; }
#video-popup-close						{ position: absolute; right: -8px; top: -8px; cursor: pointer; }
*/


/* Footer */
#content, #sidebar-bottom				{ margin-bottom: 50px; }

#pre-footer {
color: #545490;
}


#pre-footer {
clear: both;
overflow: auto;
color: #545490;
position: relative;
}

#pre-footer img {
position: absolute;
right: 10px;
top: 5px;
}

#footer									{ background:#dd9414; color: #212147; overflow:auto; clear:both; }
#footer h2								{ position:absolute; left:-9999px; color: #212147; }
#footer h3								{ margin: 12px 0 0 0; font-weight:bold; color: #212147; }
#footer ul 								{ padding: 0; }
#footer li								{ margin: 0; padding: 0; background: none; }
#footer .phone							{ font-weight:bold; text-decoration: none; }

#direct-contact							{ float: right; margin-top:12px !important;  margin-bottom:0 !important; overflow: auto; } 
#direct-contact li						{ display: inline-block; float:left; margin-left: 10px; } 
.address 								{ float:left; width:220px; margin-right:20px;  }
#about-site								{ float:right; text-align:right; clear: right; }



/* links to file download
#sidebar-bottom p a.file-pdf			{ background: url("/data/images/6/7/page_white_acrobat.png") no-repeat left center; padding-left: 21px; }
#sidebar-bottom p a.file-ical			{ background: url("/data/images/6/8/date.png") no-repeat left center; padding-left: 21px; }
*/

/* The icons for the header are set manually
#toptaken li a.icon-afval				{ background-image:url('/data/images/1/5/afval.png') !important; }
#toptaken li a.icon-paspoort			{ background-image:url('/data/images/1/7/paspoort.png') !important; }
#toptaken li a.icon-hamer				{ background-image:url('/data/images/2/0/hamer.png')  !important; }
#toptaken li a.icon-huwelijk			{ background-image:url('/data/images/1/9/huwelijk.png') !important; }
#toptaken li a.icon-huis				{ background-image:url('/data/images/2/3/verhuizen.png') !important; }
#toptaken li a.icon-hond				{ background-image:url('/data/images/2/1/hond.png') !important; }
#toptaken li a.icon-meepraten			{ background-image:url('/data/images/2/2/meepraten.png') !important; }
#toptaken li a.icon-verhuiswagen		{ background-image:url('/data/images/8/2/verhuiswagen.png') !important; }
#toptaken li a.icon-uittreksel			{ background-image:url('/data/images/1/0/8/uittreksel.png') !important; }


@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2) {
	#search #search-submit				{ background-size:16px 16px; background-image:url('/data/images/2/4/1/magnifier-blue-retina.png'); }

	#toptaken li a.icon-afval			{ background-image:url('/data/images/8/3/afval.png') !important; }
	#toptaken li a.icon-paspoort		{ background-image:url('/data/images/8/8/paspoort.png') !important; }
	#toptaken li a.icon-hamer			{ background-image:url('/data/images/8/4/hamer.png')  !important; }
	#toptaken li a.icon-huwelijk		{ background-image:url('/data/images/8/6/huwelijk.png') !important; }
	#toptaken li a.icon-huis			{ background-image:url('/data/images/9/0/verhuizen.png') !important; }
	#toptaken li a.icon-hond			{ background-image:url('/data/images/8/5/hond.png') !important; }
	#toptaken li a.icon-meepraten		{ background-image:url('/data/images/8/7/meepraten.png') !important; }
	#toptaken li a.icon-verhuiswagen	{ background-image:url('/data/images/8/9/verhuiswagen.png') !important; }
	#toptaken li a.icon-uittreksel		{ background-image:url('/data/images/1/0/9/uittreksel.png') !important; }

	.toptasks li						{ background-image: url("/data/images/1/0/6/vianen.png"); background-size:32px 32px; }
}
*/