@import "../../shared/styles/variables";

.spinner-inline .spinner-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

.spinner-overlay .spinner-wrapper{
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  background:#fff;
  z-index:1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner-google {
  margin: 0px auto;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0);
  border-right: 1.1em solid $primary-color;
  border-bottom: 1.1em solid $primary-color;
  border-left: 1.1em solid $primary-color;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
  font-size:3px;
}

.spinner-google-container{
  overflow: hidden;
}

zs-spinner.spinner-tiny .spinner-google-container {
  width: 21px;
  height: 20px;
  .spinner-google {
    font-size: 2px;
  }
}

zs-spinner.spinner-small .spinner-google-container {
  width:21px;
  height:20px;
  .spinner-google{
    font-size:2px;
  }
}

zs-spinner.spinner-regular .spinner-google-container {
  width:30px;
  height:30px;
  .spinner-google{
    font-size:3px;
  }
}

zs-spinner.spinner-large .spinner-google-container {
  width:40px;
  height:40px;
  .spinner-google{
    font-size:4px;
  }
}

zs-spinner.view-spinner {
  .spinner-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .spinner-google {
      display: inline-flex;
      flex-grow: 1;
      font-size: 8px;
    }
  }
}

.spinner-google,
.spinner-google:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
