[% process_template = 'form/' _ c.config.gemeente_id _ '/header.tt' %]
[% PROCESS $process_template %]


[% layout_type = 'simple' %]
<div class="block">
<div class="block-header header">
	<h1 class="block-header-title">[% error.titel %]</h1>
</div>
<div class="blockcontent block-content">

    <p>[% error.bericht %]<p>
    <p>
        Klik op annuleren om terug te gaan naar
        <a href="[% c.uri_for('/logout', { redirect => 'gemeente_portal' }) %]" title="Annuleren"
            >[% c.get_customer_info.gemeente_portal %]</a>.
    </p>
<div class="form-actions">
    <a href="[% c.uri_for('/logout', { redirect => 'gemeente_portal' }) %]" title="Annuleren"><input type="button" value="Annuleren" class="button button-primary" /></a>
</div>
</form>
</div>
</div>

[% process_template = 'form/' _ c.config.gemeente_id _ '/footer.tt' %]
[% PROCESS $process_template %]

