[% USE Scalar; %]
[% formurlprefix = '/zaak/create/webformulier' %]
[% IF behandelaar_form; formurlprefix = '/behandelaar/'; END %]


[% BLOCK display_casetype_links %]
    [% public_url = zaaktype.TO_JSON.public_url %]
    <tr class="select-row">
        <td class="td30"><i class="icon-case icon"></i></td>
        <td>[% zaaktype.zaaktype_node_id.titel %]</td>
        <td class="tdvar">
            <a href="[% c.uri_for(public_url.person) %]">Burger</a>
        </td>
        <td class="tdvar">
            <a href="[% c.uri_for(public_url.organisation) %]">Ondernemer</a>
        </td>
        <td class="tdvar">
            [% IF zaaktype.zaaktype_node_id.zaaktype_definitie_id.preset_client %]
            <a href="[% c.uri_for(public_url.unknown) %]">Vooringevulde aanvrager</a>
            [% END %]
        </td>
    </tr>
[% END %]


<div class="block">
    <div class="block-header clearfix">
        <div class="block-header-title">Mogelijke zaaktypen</div>
    </div>
    <div class="block-content">
        <table class="table-closed" cellspacing="0">
            <thead>
                <tr>
                    <th class="td30"><i class="icon-down icon"></i></th>
                    <th class="tdvar">Zaaktype</th>
                    <th>Burger directe link</th>
                    <th>Ondernemer directe link</th>
                    <th>Vooringevulde aanvrager</th>
                </tr>
            </thead>
            <tbody>
            [% WHILE (zaaktype = zaaktypen.next) %]
                [% PROCESS display_casetype_links %]
            [% END %]
            </tbody>
        </table>
    </div>
</div>
