.planned-case-dialog div[name="planning"]{
	.form-field-button-list,.form-status{
		display: none;
	}
	.form-field{
		border-bottom:none;
		padding:.35em 0;
	}
	input[type=number]{
		width:60px !important;
		display: inline-block;
	}
	.form-field-name-interval_value,
	.form-field-name-interval_period{
		display: inline-block;
		width:auto;
		vertical-align: middle;
		.form-field-input > *{
			vertical-align: middle;
		}
	}
	.form-field-name-interval_value{
		margin-right:10px;
	}
}

.planned-cases-crud-title,
.pip-authorized-crud-title{
	border-bottom:none !important;
}