[% USE Scalar %]
<form method="POST" action="[% c.uri_for('/zaak/' _ zaak.nr _ '/update/deelzaak') %]" id="relatie_definitie">
<input type="hidden" name="update" value="1">
<div id="next_status_subzaak">
    <table style="margin-bottom:10px">
        <thead>
            <tr class="table_ztb_title_tr">
                <th class="td30">Starten?</th>
                <th class="td200">Zaaktype</th>
                <th class="td100">Vorm</th>
                <th class="td100">Starten na</th>
                <th class="td100">Kenmerken</th>
                <th class="td20"></th>
            </tr>
        </thead>
        <tbody>
            <tr class="row_template" style="display:none">
                <td>
                    <input type="checkbox" name="status_zaaktype_run" value="1">
                </td>
                <td>
                    <input type="hidden" name="status_zaaktype_id" value="">
                    <p class="description"></p>
                </td>
                <td>
                    <select name="status_zaaktype_deelrelatie" class="ezra_milestone_zaak_type">
                        [% IF zaak.is_volgende_afhandel_fase %]
                            <option
                            value="[% ZCONSTANTS.subzaken_vervolgzaak %]"
                            class="has_start_delay">
                                Vervolgzaak (periode)
                            </option>
                            <option
                            value="vervolgzaak_datum"
                            class="vervolgzaak_datum has_start_delay">
                                Vervolgzaak (datum)
                            </option>
                        [% END %]
                        <option
                        value="[% ZCONSTANTS.subzaken_deelzaak %]">
                            Deelzaak
                        </option>
                        <option
                        value="[% ZCONSTANTS.subzaken_gerelateerd %]">
                            Gerelateerde zaak
                        </option>
                    </select>
                </td>
                <td class="ezra_milestone_zaak_type_starten">
                    <input type="text" name="status_zaaktype_start" size=4 value="0">
                    <span class="label_dagen">dagen</label>
                </td>
                <td class="status_afhandel_block">
                    <input type="checkbox" name="status_zaaktype_kopieren_kenmerken" value="1" />
                </td>
                <td><a href="#" class="document_row_del icon-del"></a></td>
            </tr>
        </tbody>
    </table>
    <a href="/zaaktype/search" rel="status: [% c.req.params.status %]" title="Kies zaaktype" class="knop status_definition_add_subzaak knop-bootstrap"><i class="icon icon-add"></i> Toevoegen</a><br /><br />
<div class="form-actions">
    <input type="submit" value="Aanmaken" class="button button-primary" id="dialog-submit"/></td>
</div>
</form>
