<ul class="spot-enlighter-menu" data-ng-show="entries.length">
	<li data-ng-repeat="entry in entries" class="spot-enlighter-case">
		<div class="spot-enlighter-case-title">
			<[entry.object.naam]>
		</div>
	</li>
</ul>