.attribute-change{
    .attribute-change-edit-meta{
        margin:10px 0 0;
        padding:10px 0 0;
        border-top:1px dotted #bbb;
        input{width:100%;margin:0px 0 5px;}
        button{margin:0px;}//temp
    }
    .attribute-change-edit-button{
        position:absolute;
        right:0;
        top:15px;
        margin:0;
    }
    .button.button-xsmall{
        padding-top:1px;
        padding-bottom:1px;
    }
}

.attribute-change-pending-message{
    color:#999;
}