<form ng-submit="vm.handleSubmit()">

	<vorm-fieldset
		data-fields="vm.getFields()"
		data-values="vm.values()"
		on-change="vm.handleChange($name, $value)"
		data-valid="vm.validity()"
	>
	</vorm-fieldset>

	<div class="form-actions">
		<button
			type="submit"
			ng-disabled="!vm.isValid()"
			class="btn btn-primary"
		>
			Genereer document
		</button>
	</div>
</form>
