woz objects

[% WHILE (woz_object = woz_objects.next()) %]

<li><a href="/woz_object/?object_id=[% woz_object.object_id %]&amp;owner=[% woz_object.owner %]">[% woz_object.object_id %] - [% woz_object.owner %]</a>
    ([% woz_object.count_per_owner %])
</li>
[% END %]